.navbar{
    background-color: rgb(20, 15, 38) !important;
}
.mrdropdown{
    margin-top: 2rem!important;
}
.mrdropdown li{
    padding-right: 6rem;
    padding-left: 1rem;
    margin: 0.3rem 0;
}
.mrdropdown {
    border-top: 7px solid purple;
}
.mrcollapse ul li a{
    padding-left: 1rem!important;
}
.mrcollapse ul li a:hover {
    color: purple!important;
}
.mybtnsc {
    padding: 1vw 2vw;
    margin-right: 1vw;
}
.mybtn {
    padding: 1vw 1.5vw;
}






@media (max-width:1210px) {
    .mybtnsc{
        display: none;
    }
    .mybtn{
        display: none;
    }
    .mrdropdown{
        background-color: black;
    }
    .mrdropdown li a{
        color: white;
    }
}